@model Departamento

<h1>Detalles departamento</h1>

<a asp-controller="Departamentos" asp-action="Index"
   class="btn btn-secondary w-100 my-3">Volver al Index</a>

<ul class="list-group">
    <li class="list-group-item">Num: @Model.DeptNo</li>
    <li class="list-group-item">Nombre: @Model.Dnombre</li>
    <li class="list-group-item">Localidad: @Model.Localidad</li>
</ul>