@model List<Departamento>

<h1>Departamentos</h1>

<a asp-controller="Departamentos" asp-action="Create"
   class="btn btn-success w-100 my-3">Crear departamento</a>

<table class="table table-borderless">
    <thead>
        <tr>
            <th>Departamento</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Departamento dept in Model)
        {
            <tr>
                <td>@dept.Dnombre</td>
                <td>
                    <a asp-controller="Departamentos" asp-action="Details"
                       asp-route-id="@dept.DeptNo" class="btn btn-primary btn-sm col-3">
                        Details
                    </a>
                    <a asp-controller="Departamentos" asp-action="Update"
                       asp-route-id="@dept.DeptNo" class="btn btn-warning btn-sm col-3">
                        Update
                    </a>
                    <a asp-controller="Departamentos" asp-action="Delete"
                       asp-route-id="@dept.DeptNo" class="btn btn-danger btn-sm col-3">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>